/* Reset e box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Imposta la tipografia e i colori */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

/* Stile per header */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

/* Stile per logo del Politecnico e GitHub */
.polimi-logo {
    height: 40px; /* Stessa altezza del logo di GitHub */
}

.github-logo {
    height: 40px;
    width: 40px;
}

/* Stile per il titolo del corso */
h1 {
    font-size: 2.5rem;
    color: #102C53; /* Nuovo blu */
    margin-bottom: 20px;
    text-align: center;
}

/* Stile per il contenuto principale */
main {
    width: 100%;
}

/* Stile per il titolo del corso */
h2 {
    font-size: 2rem;
    color: #102C53; /* Nuovo blu */
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
}

/* Stile per il nome */
p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
}

/* Stile per i link delle lezioni */
ul.lezioni {
    display: flex;
    justify-content: center;
    gap: 20px; /* Spaziatura tra i link */
    list-style: none;
}

ul.lezioni li a {
    border-top: 30px;
    text-decoration: none;
    color: #102C53;
    font-size: 1.2rem;
    padding: 20px 40px;
    border: 2px solid #102C53;
    border-radius: 8px;
    transition: all 0.3s ease;
}

ul.lezioni li a:hover {
    background-color: #102C53;
    color: #fff;
}

/* Stile per il footer */
footer {
    margin-top: auto;
    text-align: center;
    padding: 20px 0;
    background-color: #102C53;
    color: white;
    width: 100%;
    font-size: 0.9rem;
}




